<!DOCTYPE html>
<html>
<head>
	<title>Editar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagen/png" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://sistemasongoku.com/plugins/ckeditor/ckeditor.js"></script>
</head>
<body>
    <style type="text/css">
		.nave{
			color: black;
			font-size: 18px;
		}
		</style>
	<header>
        <nav class="navbar navbar-expand-lg " style="background-color:rgb(178, 192, 192);">
            <a style=  "margin-left: 60px" class="navbar-brand" href="/inicio"> <img src="../imagen/logo.png"  style="max-width: 120px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02" style=  "margin-left: 90px">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link h5.5" style=  "margin-left: 100px"  href="/inicio"><b class="nave">Inicio</b> </a>
                    </li>
                    
                        <li class="nav-item ">
                            <a class="nav-link h5.5" href="/usuario"><b class="nave">Usuarios</b></a>
                        </li>
                
                    <li class="nav-item ">
                        <a class="nav-link h5.5" href="/producto"><b class="nave">Productos</b></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link h5.5" href="/proveedor"><b class="nave">Proveedores</b></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link h5.5 " href="/stock"><b class="nave">Stock Producto</b></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link h5.5"  href="/informe"><b class="nave">Informes</b></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link"  text-danger href="/login" ><b class="nave">Cerrar Session</b> <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
        </nav>
    </header>
	<section class="container pt-4 mt-4">
        <div class="container-fluid">
			<div class="row mb-4">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <form method="POST" action="../proveedores/proveedores.html" enctype="multipart/form-data" class="row">
                    	<div class="row col-sm-12">
	                    	<div class="col-sm-8">
				                <div class="form-group">
				                  <label for="exampleInputEmail1">Nombre del Proveedor</label>
				                  <input type="text" class="form-control" name="nombre_prove" required="required" value="">
				                </div>
	                    	</div>
	                    	<div class="col-sm-8">
				                <div class="form-group">
				                  <label for="exampleInputEmail1">Ruta de Proveedor</label>
				                  <input type="text" class="form-control" name="ruta_prove" required="required" value="">
				                </div>
	                    	</div>
	                    	<div class="col-sm-6">
				                <div class="form-group">
				                  <label for="exampleInputEmail1">Telefono Proveedor</label>
				                  <input type="text" class="form-control" name="tel_prove" required="required" value="">
				                </div>
	                    	</div>
                    	</div>
                    	<div class="row col-sm-12">
                    		<div class="col-sm-6">
                    			<a href="/proveedores" class="btn btn-danger btn-block"><i class="fas fa-arrow-left"></i> Regresar</a>
	                    	</div>
                    		<div class="col-sm-6">
                    			<input type="hidden" name="pid" value="">
                    			<input type="hidden" name="id_updated" value="">
                    			<button type="submit" name="editar" class="btn btn-success btn-block">Editar <i class="fas fa-edit"></i></button>
	                    	</div>
	                    </div>
                    </form>
                </div>
            </div>
        </div>
	</section>
</body>
</html>