<!DOCTYPE html>
<html>
<head>
  <title>Entrada productos</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  <div class="modal fade" id="entrada" tabindex="-1" aria-labelledby="nuevoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <form method="POST" action="/stock" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title" id="nuevoLabel">Nueva Entrada de Productos</h5>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Nombres</label>
                <select class="form-control" id="nombre_entrada" name="id_prod">
                    <option>Leche</option>
                    <option>Arroz</option>
                    <option>Lenteja </option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Cantidad</label>
                <input type="number" step="1" id="cant_entrada" min="1" class="form-control" name="cant_entrada" required="required">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Fecha</label>
                <input type="date" id="fecha_entrada" class="form-control" name="fecha_entrada" required="required">
              </div>
            </div>
            <div class="modal-footer">
              <button onclick="window.close();" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button onclick="entradaproducto();"type="submit" name="entrada" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
            </div>
             <script type="text/javascript">
               function entradaproducto(){
                       name_e=document.getElementById('nombre_entrada').value;
                       cant_e=document.getElementById('cant_entrada').value;
                       fecha_e=document.getElementById('fecha_entrada').value;

                      if (name_e==null || name_e.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (cant_e==null || cant_e.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (cant_e<1) {
                        alert("La cantidad del producto debe ser mayor a 1 ");
                        return false;
                      }
                      if (fecha_e==null || fecha_e.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      alert("El producto comprado ha sido agregado")
                      window.close();
                      return true;
                    }
            </script>
          </form>
      </div>
    </div>
  </div>
</body>
</html>

