<!DOCTYPE html>
<html>
<head>
	<title>Nuevo Producto</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
  <div class="modal fade" id="nuevo" tabindex="-1" aria-labelledby="nuevoLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">

        	<form method="post" action="/nuevoprodu" >
          <div class="modal-header">
            <h5 class="modal-title" id="nuevoLabel" style="font-size: 22px;">Nuevo Producto</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre del Producto</label>
              <input type="text" class="form-control" id="name" name="nombre_p" required="required">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Tipo</label>
              <input type="text" class="form-control" id="tipo" name="tipo_p" required="required">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Fecha de Vencimiento</label>
              <input type="date" class="form-control" id="vence" name="fechav_p" required="required">
            </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1">Costo</label>
              <input type="number" class="form-control" id="costo" step="0.01" name="costo_p" required="required">
            </div>            
            <div class="form-group">
              <label for="exampleInputEmail1">Descripción del Producto</label>
              <textarea class="form-control ckeditor" id="descri" name="descripcion_p" required="required"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Marca</label>
              <input type="text" class="form-control" id="marca" name="marca_p" required="required">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Modelo</label>
              <input type="text" class="form-control" id="modelo" name="modelo_p" required="required">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Peso</label>
              <input type="number" class="form-control" id="peso" step="0.01" name="peso_p" required="required">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Unidad de Medida</label>
              <input type="text" class="form-control" id="medida" name="unimedida_p" required="required" title="No ha ingresado la unidad de medida del producto">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">cantidad</label>
              <input type="number" class="form-control" id="cantidad" name="cantidad_p" required="required">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.close();">Close</button>
            <button type="submit" name="nuevo"  onclick="nuevoproducto();" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
			  </div>
             <script type="text/javascript">
                    function nuevoproducto(){
                      nombre_p =document.getElementById('name').value;
                      tipo_p =document.getElementById('tipo').value;
                      fechav_p =document.getElementById('vence').value;
                      costo_p =document.getElementById('costo').value;
                      descripcion_p =document.getElementById('descri').value;
                      marca_p =document.getElementById('marca').value;
                      modelo_p =document.getElementById('modelo').value;
                      peso_p =document.getElementById('peso').value;
                      unimedida_p =document.getElementById('medida').value;
                      cantidad_p =document.getElementById('cantidad').value;

                      if (nombre_p==null || nombre_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (tipo_p==null || tipo_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (fechav_p==null || fechav_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (costo_p==null || costo_p.length ==0) {
                          alert("Algunos campos estan vacios");
                          return false;
                      }
                      if (descripcion_p==null || descripcion_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (marca_p==null || marca_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (modelo_p==null || modelo_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (peso_p==null || peso_p.length ==0) {
                          alert("Algunos campos estan vacios");
                          return false;
                      }
                        if (unimedida_p==null || unimedida_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (cantidad_p==null || cantidad_p.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (cantidad_p=0) {
                        alert("La cantidad no es correcta");
                        return false;
                      }
                      alert("Producto agregado")
                      window.close();
                      return true;
                    }
                  
                  </script>
		      </div>
		    </form>
	    </div>
	  </div>
  </div>
</body>
</html>
