<!DOCTYPE html>
<html>
<head>
  <title>Salida Productos</title>
  <link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
  <div class="modal fade" id="salida" tabindex="-1" aria-labelledby="nuevoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <form method="POST" action="../stock/stock.html" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title" id="nuevoLabel">Nueva Salida de productos</h5>
            </div>
            <div class="modal-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombres</label>
                    <select class="form-control" id="nombre_salida" name="id_prod">
                      <option>Leche</option>
                      <option>Arroz</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Cantidad</label>
                    <input type="number" id="cant_salida" step="1" min="1" class="form-control" name="cant_salida" required="required">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Fecha</label>
                    <input type="date" id="fecha_salida" class="form-control" name="fecha_salida" required="required">
                  </div>
            </div>
            <div class="modal-footer">
              <button onclick="window.close();" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button onclick="salidaproducto();"type="submit" name="salida" class="btn btn-primary">Guardar <i class="fas fa-save"></i></button>
            </div>
            <script type="text/javascript">
               function salidaproducto(){
                       name_s=document.getElementById('nombre_salida').value;
                       cant_s=document.getElementById('cant_salida').value;
                       fecha_s=document.getElementById('fecha_salida').value;

                      if (name_s==null || name_s.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (cant_s==null || cant_s.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      if (cant_s<1) {
                        alert("La cantidad del producto debe ser mayor a 1 ");
                        return false;
                      }
                      if (fecha_s==null || fecha_s.length ==0) {
                        alert("Algunos campos estan vacios");
                        return false;
                      }
                      alert("El producto vendido ha sido agregado")
                      window.close();
                      return true;
                    }
            </script>
          </form>
      </div>
    </div>
  </div>
</body>
</html>
   