<!DOCTYPE html>
<html lang="es">
<head>
    <title>Stock Producto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="./imagen/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://sistemasongoku.com/plugins/ckeditor/ckeditor.js"></script>

</head>
<body>
    <!--Navegacion-->
    <header>
        <nav class="navbar navbar-expand-lg " style="background-color:rgb(178, 192, 192);">
            <a style=  "margin-left: 60px" class="navbar-brand" href="/inicio"> <img src="../imagen/logo.png"  style="max-width: 120px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02" style=  "margin-left: 90px">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link h5.5" style=  "margin-left: 100px"  href="/inicio"><b class="nave">Inicio</b> </a>
                    </li>
                    
                        <li class="nav-item ">
                            <a class="nav-link h5.5" href="/usuario"><b class="nave">Usuarios</b></a>
                        </li>
                
                    <li class="nav-item ">
                        <a class="nav-link h5.5" href="/producto"><b class="nave">Productos</b></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link h5.5" href="/proveedor"><b class="nave">Proveedores</b></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link h5.5 " href="/stock"><b class="nave">Stock Producto</b></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link h5.5"  href="/informe"><b class="nave">Informes</b></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link"  text-danger href="/login" ><b class="nave">Cerrar Session</b> <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
        </nav>
    </header>
        <section class="container">
        <div class="row pb-3 pt-4">
            <div class="col-sm-12">
                <div class="card-group2">
                    <div class="cardstock1">
                        <div class="card-img-top text-center pt-3">
                            <i class="fas fa-plus fa-5x"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Entrada de Producto</h6>
                            <p class="card-text">Registrar la Entrada de Productos.</p>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#entrada" onclick="entradapro();">
                                 <a  class="btn btn-light">Entrada</a>
                            </button>
                        </div>
                    </div>
                    <div class="cardstock2">
                        <div class="card-img-top text-center pt-3">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Salida de Producto</h6>
                            <p class="card-text">Registrar la Salida de Productos.</p>
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#salida" onclick="salidapro();" >
                                <a class="btn btn-light">Salida</a>
                            </button>
                        </div>
                    </div>
                    <div class="cardstock1">
                        <div class="card-img-top text-center pt-3">
                            <i class="fas fa-plus fa-5x"></i>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Movimientos</h5>
                            <p class="card-text">Mostrar el Informe de Movimientos.</p>
                            <a href="/informe" class="btn btn-light">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function entradapro(){
            window.open("/entradaprodu", "", "width: 700, height=1500" )
        }
        function salidapro(){
            window.open("/salidaprodu", "", "width: 700, height=1500" )
        }
    </script>
</body>
</html>